

* {
    box-sizing: border-box;
}

.begin {
     padding: 15px;
}
#welcome {
    font-size: 30px;
    padding-top: 35px;
    text-align: center;
    text-shadow: 2px 3px 16px peru;
}

#begging {
    font-size: 18px;
    padding-bottom: 55px;
    text-align: center;
    text-shadow: 2px 3px 16px peru;
}

.form-label {
    float:left;
    width:20%;
}

input {
    position:relative;
    clear:both;
    float:left;
}

#formular {
    position: relative;
    background-color: burlywood;
    opacity: 0.9;
    height: 40%;
    width: 30%;
    min-width: 140px;
    max-height: 190px;
    margin: 0px auto;
    margin-left: 100px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#user {
    /*position: relative;
    text-align-last: left;*/
    font-size: 18px;
     width: 18px;
}

#pass {
   /* position: relative;
    text-align-last: left;
  */
    font-size: 18px;
     width: 18px;
    
}

#logg {
     position: relative;
    text-align-last: center;
    top: 30px;
    bottom: 1px;  
    left: 20px;
    font-size: 15px;
    
}



#formular {
    width: 30%;
    height: 100%;
    float: left;
    padding: 15px;  
}


.prop {
    width: 50%;
    float: left;
    padding: 15px;
    font-size: 19px;
    text-align: center;
    padding-right: 30px;
    /*padding-top: -100px;
    top: -100px; */
}


#footer {
    position: relative;
    top: -30px;
    max-width:960px;
    width: 100%;
    background-color: gray;
    height: 80px;
    margin: 0px auto;
    text-align: center;
    table-layout: auto;
    font-family: monospace;
    font-size: 16px;
    color: black;
    opacity:0.90;
    border: 1px solid green;
    border-style: dotted;
}


input[type=text],input[type=password]{
        font-size:17px;
} 

@media screen and (min-width: 778px) and (max-width: 959px)
               {
    input[type=text],input[type=password]{
        font-size:15px;
    }
} 

@media screen  and (min-width: 480px) and (max-width: 767px) 
               {
    input[type=text],input[type=password]{
        font-size:12px;
    }
    #welcome{
        font-size: 25px;
        font-family: serif;
    }
} 

@media screen and (max-width: 591px) {
    input[type=text],input[type=password]{
        font-size:10px;
    }
    #welcome{
        font-size: 20px;
        font-family: serif;
    }
    
    .prop {
    font-size: 15px;
        width: 100%;
        float:inherit;
        padding-top: 20px;
    }
} 
