body {
    margin: 0px;
}

#background {
    background-color:lightgray;
    position:absolute;
    width:100%;
    height: 1100px;
}

#main {
    position: relative;
    top: 0px;
    max-width:960px;
    height:900px;
    margin: 0px auto;
    text-align: center;
    background-color: antiquewhite;
}

#bar {
    text-align: right;
    position: relative;
    background-color: darkslategrey;
    width: 100%;
    color: black;
    height: 120px; 
}
   
#name {
    color: bisque;
    font-family: serif;
    font-size: 35px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    text-shadow: 4px 2px 9px black;
    
}
/* 1 ================================================================  1 */  
@media screen and (min-width: 557px) {
    
      .button {
        top: 0px;
        text-align: center;
        font-family: "Georgia", Times, serif;
        font-size: 15px;
    }
    
    
    .button:hover {
        background-color: dimgrey;

    }
    
    .button1 {background-color: seagreen;}
    .button2 {background-color: seagreen;} 
    .button3 {background-color: seagreen;} 
    .button4 {background-color: seagreen; }


    a:link {
        position: relative;
        color: white;
        background-color: seagreen;
        text-decoration: none;
        border: none;
        color: black;
        padding: 12px 13px;
        top: 0px;
        text-align: center;
        font-family: "Georgia", Times, serif;
        font-size: 10px;
        /*margin: 7px 20px;*/
    }
    a:visited {
        color: pink;
        background-color: seagreen;
        text-decoration: none;
    }
    a:hover {
        color: peachpuff;
        background-color: dimgray;
        text-decoration: underline;
    }
    a:active {
        color: darkslategrey;
        background-color: gray;
        text-decoration: underline;
    }                  
    #name {
        //visibility: hidden;
    }
                     
} 



/* 2 ================================================================  2 */


@media screen and (max-width: 804px)
                    and (min-width: 558px){
                      
                        
    .button {
        top: 0px;
        text-align: center;
        font-family: "Georgia", Times, serif;
        font-size: 20px;
    }
    
    
    .button:hover {
        background-color: dimgrey;

    }
    
    .button1 {background-color: seagreen;}
    .button2 {background-color: seagreen;} 
    .button3 {background-color: seagreen;} 
    .button4 {background-color: seagreen; }


    a:link {
        position: relative;
        color: white;
        background-color: seagreen;
        text-decoration: none;
        border: none;
        color: black;
        padding: 12px 23px;
        top: 0px;
        text-align: center;
        font-family: "Georgia", Times, serif;
        font-size: 20px;
        /*margin: 7px 20px;*/
    }
    a:visited {
        color: pink;
        background-color: seagreen;
        text-decoration: none;
    }
    a:hover {
        color: peachpuff;
        background-color: dimgray;
        text-decoration: underline;
    }
    a:active {
        color: darkslategrey;
        background-color: gray;
        text-decoration: underline;
    }                  
    #name {
        visibility: hidden;
    }
    
} 




/* 3 ================================================================  3 */ 

@media screen and (min-width: 805px) {
    .button {
        top: 0px;
        text-align: center;
        font-family: "Georgia", Times, serif;
        font-size: 20px;
    }
    
    
    .button:hover {
        background-color: crimson;

    }
    
    .button1 {background-color: crimson;}
    .button2 {background-color: crimson;} 
    .button3 {background-color: crimson;} 
    .button4 {background-color: crimson; }


    a:link {
        position: relative;
        color: white;
        background-color: seagreen;
        text-decoration: none;
        border: none;
        color: black;
        padding: 12px 33px;
        top: 0px;
        text-align: center;
        font-family: "Georgia", Times, serif;
        font-size: 20px;
        /*margin: 7px 20px;*/
    }
    a:visited {
        color: pink;
        background-color: seagreen;
        text-decoration: none;
    }
    a:hover {
        color: peachpuff;
        background-color: dimgray;
        text-decoration: underline;
    }
    a:active {
        color: darkslategrey;
        background-color: gray;
        text-decoration: underline;
    }
    
    #name {
    color: bisque;
    font-family: serif;
    font-size: 35px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    text-shadow: 4px 2px 9px black;
    }
} 


