body {
    margin: 0px;
}

#background {
    background-color:lightgray;
    position:absolute;
    width:100%;
    height: 1100px;
}

#main {
    position: relative;
    top: auto;
    max-width:960px;
    min-height:900px;
    margin: 0px auto;
    text-align: center;
    background-color: antiquewhite;
}

#bar {
    text-align: right;
    position: relative;
    background-color: darkslategrey;
    width: 100%;
    color: black;
    height: 120px; 
}
   
#name {
    color: bisque;
    font-family: serif;
    font-size: 35px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    text-shadow: 4px 2px 9px black;
    
}



#footer {
    position: relative;
    max-width:960px;
    width: 100%;
    background-color: gray;
    height: 80px;
    margin: 0px auto;
    text-align: center;
    table-layout: auto;
    font-family: monospace;
    font-size: 16px;
    color: black;
    opacity:0.90;
    border: 1px solid green;
    border-style: dotted;
  
}

.begin {
     padding: 15px;
}

#begging {
    font-size: 18px;
    padding-bottom: 55px;
    text-align: left;
    margin: 50px;
    text-shadow: 2px 3px 16px peru;
}



table {
    border-collapse: collapse;
    width: 100%;
    /*margin:20px; */
    border: 1px solid black;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

#title-classification{
    top: 0px;
    font-size: 25px;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 50px;
}


a.menu-button:link {
    position: relative;
    color: white;
    background-color: seagreen;
    text-decoration: none;
    border: none;
    color: black;
    padding: 12px 33px;
    top: 0px;
    text-align: center;
    font-family: "Georgia", Times, serif;
    font-size: 20px;
    /*margin: 7px 20px;*/
}

a.menu-button:visited {
    color: pink;
    text-decoration: none;
} 
a.menu-button:hover {
    color: peachpuff;
    background-color: dimgray;
    text-decoration: underline;
}
a.menu-button:active {
    color: darkslategrey;
    background-color: gray;
    text-decoration: underline;
}

a.menu-button.page-active:link {
    color: darkslategrey;
    background-color: gray;
    text-decoration: underline;
}


@media screen and (min-width: 768px)
    and (max-width: 959px){
    #main {
        background-color:lightblue;   
    }
}

@media screen and (min-width: 480px)
    and (max-width: 767px){
        
}

@media screen and (min-width: 479px){
        
}

@media and (device-aspect-ratio: 16/9){
        
}

